
body>div {
  width: 250px;
  height: 250px;
  --testVar: paint(box);
  --testProp: red;
  background-image: var(--testVar);
  color: var(--testVar);
}

#Capa_1 {
  width: 250px;
  height: 250px;
  fill: var(--testVar);
}
